:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-reset: #ff4444;
    --color-reset-hover: #cc0000;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

/* Contenedor principal */
.main-content {
    width: 90%;
    max-width: 500px;
    text-align: center;
    background-color: var(--color-secondary);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Títulos */
.main-title {
    font-size: 36px;
    color: var(--color-white);
}

.section-title {
    font-size: 24px;
    color: var(--color-primary);
}

/* Campo de entrada y botones */
.input-wrapper {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.input-name {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: var(--color-white);
}

.button-add {
    background-color: var(--color-tertiary);
}

.button-draw {
    background-color: var(--color-button);
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

.button-reset {
    background-color: var(--color-reset);
}

.button-reset:hover {
    background-color: var(--color-reset-hover);
}

/* Listas */
.name-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.name-list li {
    padding: 8px;
    background-color: var(--color-primary);
    color: var(--color-white);
    margin: 5px 0;
    border-radius: 5px;
}

.result-list {
    font-size: 20px;
    font-weight: bold;
    color: green;
    margin-top: 15px;
}